<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.todo.infra.mapper.TaskMapper">

    <select id="queryByTaskNumber" resultType="io.choerodon.todo.infra.dataobject.TaskDO">
        SELECT * FROM todo_task
        WHERE
        task_number=#{taskNumber} limit 1
    </select>
</mapper>
